FS_interpater
solid_test
main

ff.cpp
main.cpp
test.cpp
MyClass.hpp
.txt

bin/
others/version_0.1/
others/version_0.2/
others/12-expressions/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
